black
homeassistant
isort
mac_vendor_lookup
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=42.0.8 # not directly required, pinned by Snyk to avoid a vulnerability
